/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
  /* hide hamburger menu */
  [aria-controls='header-nav'] {
    display: none;
  }

  /* show list */
  [aria-expanded='false'] ~ ul {
    display: flex;
  }
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 43em) {
  /* Header */
  .logo-title {
    display: block;
    font-size: calc((22 / 16) * 1rem);
    font-weight: 600;
  }

  /* Main */
  main {
    padding: calc((20 / 16) * 1rem) calc((10 / 16) * 1rem);

    gap: calc((70 / 16) * 1rem);
  }

  /* hero-section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-img {
    width: 500px;
  }

  /* members-section */
  .members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc((40 / 16) * 1rem);
  }

  .members h2 {
    grid-column: 1 / -1;
  }

  /* projects-section */
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc((40 / 16) * 1rem);
  }

  .projects h2 {
    grid-column: 1 / -1;
  }
}

/**********************/
/*     over 928px     */
/**********************/
@media only screen and (min-width: 58em) {
  h1 {
    font-size: calc((42 / 16) * 1rem);
  }

  h2 {
    font-size: calc((32 / 16) * 1rem);
  }

  h3 {
    font-size: calc((22 / 16) * 1rem);
    font-weight: 600;
  }

  p {
    font-size: calc((18 / 16) * 1rem);
  }

  /* Header */
  header {
    height: calc((100 / 16) * 1rem);
    width: 100%;
    padding: calc((10 / 16) * 1rem) calc((20 / 16) * 1rem);
  }

  .logo-title {
    font-size: calc((28 / 16) * 1rem);
  }

  header nav ul {
    font-size: calc((22 / 16) * 1rem);

    gap: calc((30 / 16) * 1rem);
  }

  /* Main */
  main {
    padding: calc((80 / 16) * 1rem) calc((10 / 16) * 1rem);
    max-width: calc((900 / 16) * 1rem);
    margin: calc((100 / 16) * 1rem) auto 0;

    gap: calc((100 / 16) * 1rem);
  }
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
  /* General Styling */

  h1 {
    font-size: calc((72 / 16) * 1rem);
    margin: 0;
  }

  h2 {
    font-size: calc((42 / 16) * 1rem);
  }

  h3 {
    font-size: calc((32 / 16) * 1rem);
    font-weight: 600;
  }

  p {
    font-size: calc((22 / 16) * 1rem);
  }

  /* Header */
  header {
    height: calc((100 / 16) * 1rem);
    width: 100%;
    padding: calc((10 / 16) * 1rem) calc((20 / 16) * 1rem);
  }

  header nav ul {
    font-size: calc((32 / 16) * 1rem);

    gap: calc((50 / 16) * 1rem);
  }

  /* Main */
  main {
    max-width: calc((1200 / 16) * 1rem);
    margin: calc((120 / 16) * 1rem) auto 0;
  }
}
